    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
    }

    body {
      background-color: var(--bg-primary);
      color: var(--text-primary);
      font-family: 'Inter', sans-serif;
    }
    }

    /* Scrollbar */
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    ::-webkit-scrollbar-track {
      background: #000000;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #1E1E1E;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #333333;
    }